[submodule "demo"]
	path = demo
	url = git://github.com/adamatus/pony-race-drawing.git
[submodule "libs/jquery-simplecolorpicker"]
	path = libs/jquery-simplecolorpicker
	url = git@github.com:tkrotoff/jquery-simplecolorpicker.git
