svg {
  display: inline;
  font-size: 24px;
  font-family: "Helvetica Neue", Helvetica;
/*  background-color: rgba(0,255,0,.5); */
}

rect {
/*  fill-opacity: .6; 
  box-shadow: 10px 10px 5px #000; */
}

text {
    text-anchor: middle;
}

path {
    fill: none;
    stroke: #000;
    stroke-width: 5px;
}

path.dashed {
    stroke-dasharray: 10,10;
}

.axis {
  shape-rendering: crispEdges;
}

.axis.x path,
.axis.y path {
  stroke: #000;
  stroke-width: 3px;
}

.axis.x text {
    text-anchor:middle; 
    font-size: .85em;
}

.axis.y text {
    text-anchor:end; 
}

.x .tick,
.y .tick {
  stroke: #000;
  stroke-width: 3px;
}
