svg { 
    background: rgb(191,168,114);
    border:2px solid;
    border-radius: 30px;
    box-shadow: 5px 5px 10px #999999;
}

h1 { text-align: center; }

h2 {
    font-size: 1.25em;
    margin-top: .3em;
    margin-bottom: .3em;
}

span { font-size: .9em; }

#left-col {
    width: 200px;
    float: left;
}

#right-col {
    margin-left: 200px;
    position: relative;
}

.clear { 
    clear: both;
}

.jockey-name {
    display: inline;
    width: 120px;
    margin-right: 2px;
}

.jockey-num {
    display: inline;
    width: 30px;
    margin-right: 2px;
    margin-left: 4px;
}

.jockey-col {
    margin-left: 4px;
}

.inputs-text {
   width: 200px;
   float: left;
}

#center-add-button {
    display: inline;
}

#inputs-other {
   margin-left: 130px;
   padding-top: 1px;
}

#adv-options { 
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    border-top: 1px solid black;
    text-align: center;
}

#controls { 
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
    border-top: 1px solid black;
    text-align: center;
}

.edited-input {
    color: black;
}

.default-input {
    color: #999;
}

#add-jockey,
.jockey-remove {
    padding-left: 4px;
    width: 10px;
    text-align: center;
    display: inline;
    cursor: pointer;
}

#adv-options-expand {
    display: none;
}
